/*
cor1: #28EB9F
cor2: #2FEB1E
cor3: #28B6EB
cor4: #28EBE1


*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(../imagens/textura.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #28B6EB solid 2px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
}

input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    background-color: #2FEB1E;
}

button {
    background-color: #28B6EB;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #28EB9F;
}

#pendingTasks,
#completedTasks {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

li:hover{
    background-color: #2FEB1E;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

