body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
    background: #E6DADA;
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);  
    background: linear-gradient(to right, #274046, #E6DADA); 
}

.container {
    width: 90%;
    background-color: white;
    margin: 50px auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #3498db solid 2px;
    color: #333;
    box-sizing: border-box; 
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #333;
}

input {
    padding: 10px;
    margin-top: 5px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
}

li {
    background-color: white;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

span {
    flex: 1; 
    margin-right: 10px; 
}

button {
    background-color: #3498db; 
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; 
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-list {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    min-width: 48%;
    list-style-type: none;
}

li:hover {
    background-color: #8888889c;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

@media screen and (max-width: 600px) {
    .container {
        background: linear-gradient(to right, #274046, #E6DADA);  
        box-shadow: none; 
        border: none;
        width: 100%;
        height: 100%; 
        color: black;
    }
    h1{
        color: white;
    }
    label{
        color: white;
    }
    li { 
        flex-direction: row; 
        align-items: center; 
        color: black;
    }

    button { 
        margin-top: 0; 
        color: white;
    }
}
